/* Exemple pour list-message.component.css */
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #2f3136; /* Fond sombre */
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box; /* Inclut le padding dans la hauteur totale */
}

h3 {
  color: #b9bbbe; /* Texte secondaire */
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 5px 0;
  background-color: #40444b; /* Fond des éléments */
  border-radius: 5px;
  cursor: pointer;
}

li:hover {
  background-color: #5865f2; /* Couleur au survol */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background-color: #5865f2; /* Couleur principale Discord */
  color: white;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Couleur de fond pour les lignes paires */
}

tbody tr:hover {
  background-color: #e0e0e0; /* Couleur au survol */
}

td {
  color: #333;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacement entre les lignes */
  margin-top: 10px;
  flex: 1; /* Prend tout l'espace disponible */
  max-height: calc(95vh - 60px); /* Ajuste la hauteur pour inclure le header */
  overflow-y: auto; /* Ajoute un scroll vertical si nécessaire */
}

.grid-header-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 9 colonnes de largeur égale */
  gap: 10px;
  background-color: #5865f2; /* Couleur principale Discord */
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0; /* Bordure arrondie en haut */
  position: sticky; /* Rend le header fixe */
  top: 0; /* Fixe le header en haut */
  z-index: 1; /* Assure que le header reste au-dessus des lignes */
}

.grid-header {
  font-weight: bold;
  text-align: left;
  text-align: center;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  background-color: #40444b;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.grid-row:hover{
  background-color: #5865f2;
  cursor: pointer;
}

.grid-item {
  text-align: center;
}

.grid-empty {
  text-align: center;
  color: #999;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.flag{
  font-weight: bold;
}
.flag_4{
  color: gray;
}

.flag_1{
  color: greenyellow;
}

.flag_7 {
  color: #a3a3ff;
}
