<div>
  <h3>Passages de l'arrêt {{affectation?.stopName}}, ligne {{affectation?.line}}, vers {{affectation?.destination}}</h3>
  <div class="grid-container">
    <!-- En-têtes -->
    <div class="grid-header-row">
      <div class="grid-header">Course</div>
      <div class="grid-header">Via</div>
      <div class="grid-header">Quai</div>
      <div class="grid-header">A l'arrêt</div>
      <div class="grid-header">Flag</div>
      <div class="grid-header">Heure Théorique</div>
      <div class="grid-header">Heure Réelle</div>
    </div>

    <!-- Données -->
    @for (time of times; track $index) {
      <div class="grid-row" (click)="onClickTime(time)">
        <div class="grid-item">{{ time.course }}</div>
        <div class="grid-item">{{ time.via }}</div>
        <div class="grid-item">{{ time.quai }}</div>
        <div class="grid-item">{{ time.isAQuai ? 'Oui' : 'Non' }}</div>
        <div class="grid-item flag flag_{{time.flag}}">
          {{ time.flag === 1 ? 'Réel' : time.flag === 7 ? 'Théorique' : time.flag === 4 ? 'Annulé' : time.flag }}
        </div>
        <div class="grid-item">{{ time.heureTheo }}</div>
        <div class="grid-item">{{ time.heureReel }}</div>
      </div>
    }@empty {
      <div class="grid-empty">Aucun temps trouvé.</div>
    }

    @if (showDialog) {
      <app-time-dialog
        [time]="timeToEdit"
        (closeDialog)="onCloseDialog()">
      </app-time-dialog>
    }
  </div>
</div>
