.stoppoint {
    padding: 10px;
    margin: 5px 0;
    background-color: #2f3136; /* Fond sombre */
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
  
.stoppoint:hover {
    background-color: #40444b; /* Fond au survol */
}