<div class="dialog-backdrop">
  <div class="dialog">
    <h3>Créer une nouvelle configuration</h3>
    <form>
      <label>
        Nom :
        <input type="text" [(ngModel)]="config.name" name="name" placeholder="Nom de la configuration" />
      </label>
      <label>
        Host :
        <input type="text" [(ngModel)]="config.host" name="host" placeholder="URL du host" />
      </label>
      <div class="dialog-actions">
        <button type="button" (click)="onCreate()">Créer</button>
        <button type="button" (click)="onCancel()">Annuler</button>
      </div>
    </form>
  </div>
</div>
