<div class="main-page">
  @if (activeComponent == "list-message") {
    <app-list-message [config]="currentConfig"></app-list-message>
  } @else if (activeComponent == "list-times") {
    <app-list-times [config]="currentConfig"></app-list-times>
  } @else if (activeComponent == "list-affectations") {
    <app-list-affectations [config]="currentConfig"></app-list-affectations>
  } @else if (activeComponent == "list-stoppoints") {
    <app-list-stoppoint [config]="currentConfig"></app-list-stoppoint>
  } @else {
    <div class="welcome">
      <h1>SAE Simulator</h1>
      <p>Bienvenue dans votre simulateur SIRI</p>
    </div>
  }
</div>
