:host {
  flex: 1; /* Prend tout l'espace restant */
  background-color: red;
  color: white;
}

.main-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main-page > * {
  flex: 1; /* Le composant actif occupe tout l'espace */
}