.config-item {
  padding: 8px;
  margin: 5px 0;
  background-color: #0056b3;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.config-item:hover {
  background-color: #003d80;
}

.config-name {
  font-size: 1.2em; /* Taille plus grande pour le nom */
  font-weight: bold; /* Met le nom en gras */
}

.config-host {
  font-size: 0.9em; /* Taille plus petite pour le host */
  color: #d0d0d0; /* Couleur plus discrète pour le host */
}

.buttons-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.buttons-container.show {
  max-height: 100px; /* Ajustez selon la hauteur des boutons */
  opacity: 1;
}

button {
  display: block;
  width: 90%; /* Les boutons sont légèrement moins larges que la config */
  margin: 5px auto; /* Centre les boutons horizontalement */
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}