:host {
  width: 250px;
  background-color: #2f3136; /* Fond sombre */
  color: #ffffff;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid #202225; /* Ligne de séparation */
}

h3 {
  font-size: 16px;
  color: #b9bbbe; /* Texte secondaire */
  margin-bottom: 10px;
}

ul {
  flex: 1;
  overflow-y: auto;
}

li {
  padding: 10px;
  margin: 5px 0;
  background-color: #40444b; /* Fond des éléments */
  border-radius: 5px;
  cursor: pointer;
}

li:hover {
  background-color: #5865f2; /* Couleur au survol */
}

.create-config-button {
  display: block;
  margin: 20px auto; /* Centre le bouton horizontalement */
  padding: 10px;
  background-color: #5865f2; /* Couleur principale Discord */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.create-config-button:hover {
  background-color: #4752c4; /* Couleur au survol */
}